header{
    color:white;
    text-align:center;
    
    }
    body {
        text-align: center;
        margin: 0;
        padding: 0;
        background-image: url("banco\ de\ dados.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    /* Estilo para os botões de exclusão */
    .btnExcluir {
        background-color: red;
        color: white;
        position: absolute;
        top: 900px; /* Posicionamento vertical do botão (ajuste conforme necessário) */
        right: 910px; /* Posicionamento horizontal do botão (ajuste conforme necessário) */
        z-index: 1; /* Garante que o botão fique acima do vídeo */
        padding: 15px;
    }
    h1, h2{
        color: black;
    }
    .texto{
        color: black;
    }
    /* Estilos para aumentar o tamanho da barra de entrada */
    #tagVideo {
        border-radius: 5%;
        width: 580px; /* Defina o tamanho desejado em porcentagem, ou use um valor em pixels (por exemplo, width: 300px;) */
        padding: 5px; /* Adicione um preenchimento para melhorar a aparência */
        font-size: 16px; /* Tamanho da fonte */
      }


      button {

        padding: 5px 10px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  background-color: #00525f;
  border: 2px solid black;
}
      
button:hover{

    background-color: blue;
    border: 2px solid black;
}


     